@import "tailwindcss";
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
body {
  background: #f5f7fb;
  color: #333;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

/* MODAL */
#apply-toggle {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#apply-toggle:checked ~ .modal {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 600px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.modal-content button {
  background: #4f46e5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.close {
  display: inline-block;
  margin-top: 10px;
  color: #4f46e5;
  cursor: pointer;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}

.expanded {
  display: block;
}
